.footer{
    display: flex;
    justify-content: space-between;
    width:75% ;
    margin: 60px auto; 
}
.left-part{
    display: flex;
    flex-direction: column;
    width: 230px;
    gap: 30px;
}
.footer-symbols{
    display: flex;
    gap: 20px;
}
.right-part{
    display:  flex;
    gap: 80px;
}
.shop, .legal, .support{
    display: flex;flex-direction: column;
    gap: 15px   ;
}
@media (max-width : 376px){
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        gap: 50px;
    }
    .right-part{
        display: flex;
        flex-wrap: wrap;
    }
}